//@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:500" rel="stylesheet"');

* {
  margin: 0;
  padding: 0;
}

.content {
  width: 1162px;
  margin: 0 auto;
}

header {
  margin-left: 4px;

  .header_logo {
    padding-top: 35px;
    float: left;
    margin-bottom: 33px;
  }
  .header_social-network {
    padding-top: 49px;
    float: right;
    margin-right: 2px;

    a {
      display: inline-block;
    }
    .social_icon {
      width: 18px;
      height: 18px;
      overflow: hidden;
      margin-left: 12px;
    }
    .social-network_fb {
      background: url('../img/social-network/social-icon-sprite.png') no-repeat 0 0;

      &:hover {
        background: url("../img/social-network/social-icon-sprite.png") no-repeat 0 -20px;
      }
    }
    .social-network_twitter {
      background: url("../img/social-network/social-icon-sprite.png") no-repeat -18px 0;
      &:hover {
        background: url("../img/social-network/social-icon-sprite.png") no-repeat -18px -20px;
      }
    }
    .social-network_rss {
      background: url('../img/social-network/social-icon-sprite.png') no-repeat -36px 0;
      &:hover {
        background: url("../img/social-network/social-icon-sprite.png") no-repeat -36px -20px;
      }
    }
    .social-network_linkedin {
      background: url('../img/social-network/social-icon-sprite.png') no-repeat -54px 0;
      &:hover {
        background: url("../img/social-network/social-icon-sprite.png") no-repeat -54px -20px;
      }
    }
    .social-network_skype {
      background: url('../img/social-network/social-icon-sprite.png') no-repeat -72px 0;
      &:hover {
        background: url("../img/social-network/social-icon-sprite.png") no-repeat -72px -20px;
      }
    }
  }
}

nav.menu {
  clear: both;
  height: 56px;
  background-color: #2a2d32;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 14px;
  text-transform: uppercase;

  .nav_menu {
    float: left;
    font-size: 0;

    .menu_item {
      display: inline-block;
      height: 36px;
      border-right: 1px solid #181a1d;
      padding-top: 20px;
      font-size: 14px;
    }

    .nav_link {
      text-decoration: none;
      color: #fff;
      padding-left: 37px;
      padding-right: 41px;

      &:hover {
        color: #f4b60d;
      }
    }

    .active {
      background-color: #248cec;
    }
  }
  .nav_search {
    float: right;

    .search_field {
      width: 239px;
      height: 38px;
      border: 1px solid #181a1d;
      background-color: #35383c;
      margin-top: 8px;
      margin-right: 10px;
    }
    input::-webkit-input-placeholder {
      padding-left: 10px;
      font-size: 12px;
    }
  }
}

.slider {
  margin-top: 39px;
  position: relative;

  .slider_switch {
    position: absolute;
    content: '';
    height: 49px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    cursor: pointer;

    .switch_button {
      margin-top: 13px;
      display: inline-block;
      height: 15px;
      width: 15px;
      background-color: #fff;
      margin-right: 7px;
      position: relative;

      &:hover:after {
        content: '';
        width: 9px;
        height: 9px;
        background-color: #001d1d;
        position: absolute;
        top: 3px;
        left: 3px;
      }
    }
  }

}

.company-advantage {
  padding-top: 70px;

  .company-advantage_advantage__first {
    background: url('../img/advantage-namber1.png') no-repeat 1px 0;
  }
  .company-advantage_advantage__second {
    background: url('../img/advantage-number2.png') no-repeat;
  }
  .company-advantage_advantage__third {
    background: url('../img/advantage-number3.png') no-repeat;
  }
  .company-advantage_advantage {
    display: inline-block;

    &:last-child {

      .advantage_content {
        margin-right: 0;
      }
    }

    .advantage_content {
      width: 240px;
      margin-left: 123px;
      margin-right: 32px;

      h2 {
        font-family: 'Ubuntu', sans-serif;
        color: #2a2b2e;
        font-size: 20px;
        padding-top: 8px;
      }
      p {
        font-family: Arial, sans-serif;
        font-size: 13px;
        color: #8a8a8a;
        margin-top: 18px;
        line-height: 20px;
        margin-left: -3px;
        height: 60px;
        overflow: hidden;
        margin-bottom: 15px;
      }
      a {
        position: relative;
        font-family: 'Ubuntu', sans-serif;
        font-size: 13px;
        color: #2a2b2e;
        text-decoration: none;
        margin-left: -3px;

        &:hover {
          color: #248cec;
        }
        &:hover:after {
          background-image: url('../img/advantage-arrow_hover.png');
        }

        &::after {
          content: '';
          background-image: url('../img/advanrage-arrow.png');
          position: absolute;
          width: 10px;
          height: 9px;
          right: -19px;
          top: 4px;

        }
      }
    }

  }

}

.company-services {
  background-color: #2a2d32;
  border: 1px solid #e3e3e3;
  margin-top: 84px;

  .content {
    background-color: #2a2d32;

    h1 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 24px;
      color: #fff;
      padding-top: 44px;
      padding-left: 1px;
    }

    figure {
      display: inline-block;
      padding-top: 51px;
      padding-right: 36px;
      position: relative;
      padding-bottom: 68px;

      &:last-child {
        padding-right: 0;
      }

      figcaption {
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        color: #fff;
        padding-left: 53px;
        padding-top: 27px;
        transition: all 0.3s ease-in-out;
      }

      .add_img {
        opacity: 0;
        cursor: pointer;
        z-index: 2;
        position: absolute;
        width: 260px;
        height: 260px;
        top: 51px;
        background: url('../img/services-add.png') rgba(46, 140, 227, 0.8) no-repeat center;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        .add_img {
          opacity: 1;
        }
        figcaption {
          color: #f4b60d;
        }
      }
    }
  }
}

.banner-news {
  padding-bottom: 53px;
  background-color: #f7f7f7;

  .content {
    background-color: #f7f7f7;
    padding-top: 58px;
  }
  h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: #2a2d32;
    padding-bottom: 43px;
  }

  .news-block {
    display: inline-block;
    width: 596px;

    .news {
      position: relative;
      padding-bottom: 26px;
      cursor: pointer;
      img {
        display: inline-block;
      }
      .image_mounth {
        width: 40px;
        height: 40px;
        position: absolute;
        background-color: #248cec;
        top: 12px;
        left: -17px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        color: #fff;
        text-align: center;
        line-height: 42px;
      }
      .image_date {
        width: 40px;
        height: 40px;
        position: absolute;
        background-color: #f4b60d;
        top: 52px;
        left: -17px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 18px;
        color: #2a2b2e;
        text-align: center;
        line-height: 42px;
      }
      article {
        display: inline-block;
        width: 378px;
        vertical-align: top;
        padding-left: 30px;
        padding-top: 4px;

        h2 {
          font-family: 'Ubuntu', sans-serif;
          font-size: 16px;
          color: #2a2d32;
        }
        span {
          line-height: 29px;
          font-family: Arial, sans-serif;
          font-size: 13px;
          color: #9d9d9d;

          .author {
            color: #0187f4;
            padding-right: 6px;
          }
          .comments {
            color: #0187f4;
          }
        }
        p {
          font-family: Arial, sans-serif;
          font-size: 13px;
          color: #8a8a8a;
          padding-top: 18px;
          line-height: 19px;
        }
      }
    }
  }

  .banner {
    display: inline-block;
    width: 562px;
    vertical-align: top;

    .banner_accordion {
      h3 {
        position: relative;
        display: block;
        height: 37px;
        background-color: #fff;
        font-family: 'Ubuntu', sans-serif;
        font-size: 13px;
        color: #2a2d32;
        line-height: 39px;
        text-transform: uppercase;
        padding-left: 50px;
        border: 1px solid #e8e8e8;
        margin-bottom: 6px;
        cursor: pointer;
        outline: none;

        &::after {
          content: '';
          position: absolute;
          width: 32px;
          height: 39px;
          border-right: 1px solid #e8e8e8;
          left: 5px;
          background: url('../img/banner-icon-plus.png') no-repeat 8px;
        }
      }
      .ui-state-active {
        border: 1px solid transparent;
        background-color: #f4b60d;
        color: #fff;

        &::after {
          border-right: 1px solid #f6c53d;
          background: url("../img/banner-icon-minus.png") no-repeat 8px;
        }
      }
      .accordion_text {
        padding-bottom: 38px;
        width: 556px;
        p {
          font-family: Arial, sans-serif;
          font-size: 13px;
          color: #8a8a8a;
          padding-left: 38px;
          padding-top: 19px;
          line-height: 20px;
        }
      }
    }
  }
}

.partners {
  padding-top: 83px;
  padding-bottom: 89px;

  img {
    padding-right: 47px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.footer-menu {
  background-color: #2a2d32;
  padding-bottom: 71px;

  .content {
    background-color: #2a2d32;
  }

  .footer-menu_block {
    display: inline-block;
    padding-top: 59px;
    margin-left: -1px;
    margin-right: 35px;

    h2 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      padding-bottom: 34px;
    }
    ul {
      margin-left: 2px;
      li {
        list-style: none;
        border-bottom: 1px solid #393c40;
        width: 260px;

        a {
          font-family: Arial, sans-serif;
          font-size: 13px;
          text-decoration: none;
          color: rgba(255, 255, 255, 0.3);
          line-height: 35px;

          &:hover {
            color: #248cec;
          }
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
  .footer-menu_block:last-child {
    margin-right: 0;
  }
}

.footer-info {
  background-color: #35383c;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.2);
  padding-top: 22px;
  //padding-bottom: 20px;
  min-height: 60px;

  .content {
    background-color: #35383c;
  }
  .footer-info_contact {
    display: inline-block;
    padding-left: 25px;

    .contact_location {
      position: relative;
      letter-spacing: 0.2px;

      &::after {
        content: '';
        background-image: url('../img/footer-icon-location.png');
        position: absolute;
        left: -23px;
        width: 12px;
        height: 16px;
      }
    }
    .contact_phone {
      position: relative;
      padding-left: 51px;

      &::after {
        content: '';
        background-image: url('../img/footer-icon-phone.png');
        position: absolute;
        left: 32px;
        width: 10px;
        height: 16px;
      }
    }
    .contact_email {
      position: relative;
      padding-left: 68px;

      &::after {
        content: '';
        background-image: url('../img/footer-icon-email.png');
        position: absolute;
        left: 38px;
        top: 2px;
        width: 16px;
        height: 12px;
      }
    }
  }
  .footer-info_copyrite {
    display: inline-block;
    float: right;
    margin-right: 4px;
  }
}
